body {
    font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
    font-size: 14px;
  }

  #cy {
    position: relative;
    z-index: 99;
    height: 600px;
    width: 1200px;
  }

  h1 {
    opacity: 0.5;
    font-size: 1em;
    font-weight: bold;
  }

  #feature-toggle {
    position: relative;
    /* z-index: 100; */
  }

  #sfg-extra {
      display: block;
      margin-top: 10px;
  }

#edge-info {
  position: fixed;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  max-width: 200px;
  display: none; /* Hide by default */
  pointer-events: none; /* Prevent the box from interfering with mouse events */
  color: black;
}
  
.container-calculation {
  margin-top: 10px;
  height: 50px;
}

/* The switch - the box around the slider */
.container1 {
  width: 40px;
  height: 20px;
  position: relative;
  display:inline-block;
}

.container2 {
  position: relative;
  display:inline-block;
}

/* Hide default HTML checkbox */
.checkbox1 {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.switch1 {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #e9e9eb;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

/* The slider */
.slider1 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: calc(50% - 15px/2 - 10px);
  top: calc(50% - 15px/2);
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.checkbox1:checked + .switch1 {
  background-color: #34C759;
}

.checkbox1:checked + .switch1 .slider1 {
  left: calc(50% - 15px/2 + 10px);
  top: calc(50% - 15px/2);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}




  /* remove this */
  .container {
    display: flex;
  }

  .container-top {
    display: flex;
    /* flex-direction: column; */
  }
  
  /* remove this */
  .column {
    padding: 10px;
  }
  
  .column1 {
    /* Let the first column take whatever space it needs */
    /* flex-grow: 0; */
    /* flex: 1; */
    /* fix width of half screen resolution */
    max-width: 65%;
    /* flex: 0 0 auto;  */
    /* This allows the column to grow and shrink based on content */
  }
  
  .column2 {
    /* Let the second column fill the remaining space */
    /* flex-grow: 1; */
    /* flex: 1; */
  /* This will make the second column take up remaining space */
    /* flex-grow: 1;  */
    display: flex;
    max-width: 555px;
    max-height: 295px;
    align-items: center;
    /* justify-content: center; */
    overflow: hidden; 
  }

  /* residue code from past team */
  .sfg_section { 
    position: relative;
  }

  .sfg-section {
    border: 1px solid black;
  }

  .panels {
    display: flex
  }

  .circuit-panel {
    margin-top: 1%;
  }

  .middle-layer {
    display: flex;
  }

  .right-layer {
    display: block;
    width: 50%;
  }

  .parameter-panel {
    width: 200px; /* Adjust width to make the panel smaller */
    border: 1px solid black;
    padding: 15px; /* Reduce padding for a more compact look */
    margin: 10px auto; /* Center the panel horizontally */
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.parameter-panel div {
    margin-bottom: 15px; /* Reduce space between sections */
    padding: 5px; /* Add a small padding within each section if desired */
}

.parameter-panel div:last-child {
    margin-bottom: 0;
}

.parameter-panel h1 {
    margin: 0;
    font-size: 1em; /* Slightly smaller font size for a compact layout */
    font-weight: normal;
}


  .label[x-out-of-boundaries] {
    display: none !important;
  }

  [id^=edge-] {
    text-shadow: 5px 5px #d3d3d3, -5px -5px #d3d3d3, -5px 5px #d3d3d3, 5px -5px #d3d3d3;
    z-index: 999;
  }
  /* laptop */
  /* @media screen and (min-width: 1200px) and (max-width: 1600px) {
    #cy {
      position: absolute;
      left: 13%;
      top: 10%;
      bottom: 30%;
      right: 30%;
      z-index: 99;
    }

    .right-layer {
      display: block;
      width: 60%;
      margin-left: 15px;
      margin-right: 15px;
    }

    .circuit-panel {
      margin-top: 60%;
    }
  } */

.slidecontainer {
  position: relative;
  width: 150px; /* Width of the outside container */
}

.slider {
  display:inline;
  -webkit-appearance: none;
  width: 400px;
  height: 15px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.frequency-range {
    width: 55px;
}

#frequency-value {
    text-align: center;
}

/* https://codepen.io/MartijnCuppens/pen/MGZLbQ */

$custom-range-thumb-disabled-bg: #adb5bd;

.custom-range {
  &:disabled {
    &::-webkit-slider-thumb {
      background-color: $custom-range-thumb-disabled-bg;
    }

    &::-webkit-slider-runnable-track {
      cursor: default;
    }

    &::-moz-range-thumb {
      background-color: $custom-range-thumb-disabled-bg;
    }

    &::-moz-range-track {
      cursor: default;
    }

    &::-ms-thumb {
      background-color: $custom-range-thumb-disabled-bg;
    }
  }

}


/* basic positioning */
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: middle; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .superawesome { background-color: red; }
.legend .awesome { background-color: yellow; }
.legend .kindaawesome { background-color: purple; }
.legend .notawesome { background-color: blue; }