body {
    font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
    font-size: 14px;
  }

  #cy {
    position: relative;
    z-index: 99;
    height: 600px;
    width: 1200px;
  }

  h1 {
    opacity: 0.5;
    font-size: 1em;
    font-weight: bold;
  }

  #feature-toggle {
    position: relative;
    /* z-index: 100; */
  }

  #sfg-extra {
      display: block;
      margin-top: 10px;
  }

  .sfg_section {
    position: relative;
  }

  .panels {
    display: flex
  }

  .circuit-panel {
    margin-top: 5%;
  }

  .middle-layer {
    display: flex;
  }

  .right-layer {
    display: block;
    width: 50%;
  }

  .parameter-panel {
    width: 150px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
  }

  .label[x-out-of-boundaries] {
    display: none !important;
  }
  /* laptop */
  /* @media screen and (min-width: 1200px) and (max-width: 1600px) {
    #cy {
      position: absolute;
      left: 13%;
      top: 10%;
      bottom: 30%;
      right: 30%;
      z-index: 99;
    }

    .right-layer {
      display: block;
      width: 60%;
      margin-left: 15px;
      margin-right: 15px;
    }

    .circuit-panel {
      margin-top: 60%;
    }
  } */

.slidecontainer {
  position: relative;
  width: 150px; /* Width of the outside container */
}

.slider {
  display:inline;
  -webkit-appearance: none;
  width: 400px;
  height: 15px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.frequency-range {
    width: 55px;
}

#frequency-value {
    text-align: center;
}

/* https://codepen.io/MartijnCuppens/pen/MGZLbQ */

$custom-range-thumb-disabled-bg: #adb5bd;

.custom-range {
  &:disabled {
    &::-webkit-slider-thumb {
      background-color: $custom-range-thumb-disabled-bg;
    }

    &::-webkit-slider-runnable-track {
      cursor: default;
    }

    &::-moz-range-thumb {
      background-color: $custom-range-thumb-disabled-bg;
    }

    &::-moz-range-track {
      cursor: default;
    }

    &::-ms-thumb {
      background-color: $custom-range-thumb-disabled-bg;
    }
  }

}